$purple: #8418ef;
$darkBlue: #000038;
$black: #03071e;
$grey: #4a5568;
$lightGrey: #f2f2f2;
$snow: #f7fafc;
$danger: #e73662;
$success: #18c6a5;
$warning: #f8ce22;

$gradientBlue: radial-gradient(
  50% 80% at 100% 100%,
  #6400a7 0%,
  #211b53 100%
); ;
