@import 'rem-calc';
@import 'colors';
@import 'media-queries';
@import 'mixins';

$globalGap: rem-calc(18);
$globalPadding: $globalGap;
$globalRadius: rem-calc(18);
$globalShadow: 0px 0px rem-calc(18) rem-calc(10) rgba(0, 0, 0, 0.05);

$siteWidth: rem-calc(1200);

$primaryFont: 'Inter', sans-serif;
$headingFont: 'Plus Jakarta Sans', sans-serif;
