@import 'rem-calc';
@import 'colors';
@import 'media-queries';
@import 'mixins';
@import 'utils';

$global-gap: rem-calc(18);
$global-padding: $global-gap;
$global-radius: rem-calc(18);
$global-shadow: 0px 0px rem-calc(18) rem-calc(10) rgba(0, 0, 0, 0.05);

$site-width: rem-calc(1200);

$primary-font: 'Inter', sans-serif;
$heading-font: 'Plus Jakarta Sans', sans-serif;
