@import '@/styles/modules/root';

.blog-hero-wrapper {
  margin-top: rem-calc(100);
  padding-bottom: calc($global-gap * 3);
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: calc($global-gap * 2) 0;

  button {
    margin: 0 4px;
    aspect-ratio: 1 / 1;
    width: rem-calc(38);
    height: rem-calc(38);
    border-radius: 50%;
  }
}
