@import '@/styles/modules/root';

.home-hero-wrapper {
  padding: rem-calc(68 0);
  @include flex-centered;
  width: 100%;
  // height: 90vh;
}

.home-hero-content {
  width: 100%;
  max-width: rem-calc(970);
  @include flex-centered;
  text-align: center;
  padding: rem-calc(0 24);

  h1 {
    color: $dark-blue;

    @include md {
      font-size: rem-calc(62);
    }
  }

  p {
    font-size: rem-calc(22);
    font-family: $primary-font;
    color: $grey;
    margin-top: rem-calc(46);
    margin-bottom: 0;
    line-height: 1.48;
  }
}

.home-hero-cta {
  @include flex-centered;
  font-size: rem-calc(24);
  font-weight: 800;
  font-family: $heading-font;
  background: $dark-blue;
  color: $snow;
  width: rem-calc(287);
  height: rem-calc(58);
  border-radius: 999px;
  margin: rem-calc(60 0);
}

.home-hero-logos-wrapper {
  @include flex-centered;
  flex-direction: row;
  gap: rem-calc(32);
  flex-wrap: wrap;
}
