@import '@/styles/modules/root';

.portfolio-hero-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $darkBlue;
  color: $snow;
  margin-bottom: rem-calc(60);
  text-align: center;
  padding: rem-calc(80 0);
}

.portfolio-hero-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0 $globalPadding;

  h1 {
    font-size: rem-calc(48);
    margin-bottom: rem-calc(24);
    max-width: rem-calc(720);

    span {
      color: $warning;
    }
  }

  .reset {
    @include button-reset;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $darkBlue;
    padding: rem-calc(10 20);
    border-radius: rem-calc(999);
    gap: rem-calc(9);

    transition: 0.3s ease;

    background: $warning;
    &.disabled {
      background: $snow;
      opacity: 0.2;
      cursor: default;
    }
  }
}

.portfolio-category-filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $globalGap;
  flex-wrap: wrap;
  margin: rem-calc(36 0);

  button {
    @include button-reset;
    cursor: pointer;
    font-weight: bold;
    background: $snow;
    color: $darkBlue;
    padding: rem-calc(12 24);
    border-radius: rem-calc(999);

    &.selected {
      background: $warning;
      cursor: default;
    }
  }

  :hover {
    background: $warning;
  }
}

.portfolio-card-wrapper {
  display: grid;
  grid-gap: calc($globalGap * 3);

  @include md {
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  }
}

.portfolio-card-item {
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: rem-calc(18);
  box-shadow: $globalShadow;

  img {
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }

  span {
    font-weight: bold;
    font-size: rem-calc(14);
  }

  a {
    display: flex;
    background: $darkBlue;
    color: $snow;
    padding: rem-calc(10 20);
    margin-top: rem-calc(18);
    width: fit-content;
    border-radius: 999px;
    font-weight: bold;
    font-size: rem-calc(14);
  }

  .porfolio-card-button {
    @include button-reset;
    display: flex;
    background: $darkBlue;
    color: $snow;
    padding: rem-calc(10 20);
    margin-top: rem-calc(18);
    width: fit-content;
    border-radius: 999px;
    font-weight: bold;
    font-size: rem-calc(14);
    cursor: pointer;

    &:hover {
      background: $warning;
      color: $darkBlue;
    }
  }

  &:hover {
    cursor: pointer;
    .portfolio-card-content {
      margin-bottom: 0;
    }
  }
}

.portfolio-card-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  padding: calc($globalGap * 2);
  margin-bottom: rem-calc(-400);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: $globalShadow;
  border-radius: rem-calc(18 18 0 0);

  video {
    width: 100% !important;
    height: auto !important;
  }
}

.portfolio-card-title {
  h2 {
    color: $darkBlue;
    font-size: em-calc(22);
    margin-bottom: rem-calc(12);
  }
}
