@import '@/styles/modules/root';

.portfolio-hero-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $darkBlue;
  color: $snow;
  margin-bottom: rem-calc(60);
  text-align: center;
  padding: rem-calc(80 0);
}

.portfolio-hero-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0 $globalPadding;

  h1 {
    font-size: rem-calc(48);
    margin-bottom: rem-calc(24);
    max-width: rem-calc(720);

    span {
      color: $warning;
    }
  }

  .reset {
    @include button-reset;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $darkBlue;
    padding: rem-calc(10 20);
    border-radius: rem-calc(999);
    gap: rem-calc(9);

    transition: 0.3s ease;

    background: $warning;
    &.disabled {
      background: $snow;
      opacity: 0.2;
      cursor: default;
    }
  }
}

.portfolio-category-filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $globalGap;
  flex-wrap: wrap;
  margin: rem-calc(36 0);

  button {
    @include button-reset;
    cursor: pointer;
    font-weight: bold;
    background: $snow;
    color: $darkBlue;
    padding: rem-calc(12 24);
    border-radius: rem-calc(999);

    &.selected {
      background: $warning;
      cursor: default;
    }
  }

  :hover {
    background: $warning;
  }
}
