@import '@/styles/modules/root';

.portfolio-hero-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gradientBlue;
  color: $snow;
  margin-bottom: rem-calc(60);
  text-align: center;
  padding: rem-calc(80 0);

  @include md {
    padding: rem-calc(140 0);
  }
}

.portfolio-hero-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0 $globalPadding;

  h1 {
    font-size: rem-calc(32);
    margin-bottom: rem-calc(24);
    max-width: rem-calc(720);

    @include md {
      font-size: rem-calc(58);
    }

    span {
      color: $warning;
    }
  }
}

.portfolio-category-filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $globalGap;
  flex-wrap: wrap;
  margin: rem-calc(36 0);

  button {
    @include button-reset;
    cursor: pointer;
    font-weight: bold;
    background: $snow;
    color: $darkBlue;
    padding: rem-calc(12 24);
    border-radius: rem-calc(999);

    &:hover {
      background: $warning;
    }

    &.selected {
      background: $danger;
      color: $snow;
      cursor: default;
    }

    &.reset {
      @include button-reset;
      cursor: pointer;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $snow;
      padding: rem-calc(10);
      border-radius: rem-calc(999);
      gap: rem-calc(9);

      background: $danger;

      &:hover {
        background: $warning;

        svg {
          path {
            fill: $darkBlue;
          }
        }

        &.disabled {
          &:hover {
            background: $danger;

            svg {
              path {
                fill: $snow;
              }
            }
          }
        }
      }
    }
  }
}

.portfolio-filtered-title-wrapper {
  color: $darkBlue;
  margin-bottom: rem-calc(52);
  @include flex-centered;
  flex-direction: row;
}

.portfolio-filtered-title {
  color: $darkBlue;
}
.portfolio-filtered-count {
  background: $danger;
  padding: rem-calc(5 15);
  border-radius: 999px 999px 999px 0;
  color: $snow;
  margin-left: calc($globalGap / 2);
  margin-top: rem-calc(-20);
}
