@import '@/styles/modules/root';

@import '@/styles/pages/home';
@import '@/styles/pages/blog';
@import '@/styles/pages/post';
@import '@/styles/pages/portfolio';
@import '@/styles/pages/404';

@import '@/styles/components/shared/header';
@import '@/styles/components/pages/portfolio/portfolio-card';
@import '@/styles/components/pages/blog/search-results';
@import '@/styles/components/pages/blog/featured-posts';
@import '@/styles/components/pages/blog/post-card';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: $primary-font;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: $grey;

  --global-gap: #{$global-gap};
  --global-padding: #{$global-gap};
  --globalRadius: #{$global-radius};
  --globalShadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.05);

  --site-width: #{$site-width};

  --primary-font: #{$primary-font};
  --heading-font: #{$heading-font};

  --purple: #{$purple};
  --dark-blue: #{$dark-blue};
  --black: #{$black};
  --grey: #{$grey};
  --light-grey: #{$light-grey};
  --snow: #{$snow};
  --danger: #{$danger};
  --success: #{$success};
  --warning: #{$warning};

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading-font;
  }
}

a {
  text-decoration: inherit;
}

p {
  margin-bottom: $global-gap;
}

.site-wrapper {
  margin-top: rem-calc(64);
  padding-bottom: rem-calc(80);
}

.container {
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 $global-gap;
}
