@import '@/styles/modules/root';

.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem-calc(40);
  box-shadow: $globalShadow;
  background: white;
  height: rem-calc(65);
  transition: 0.2s ease-in-out;

  &.on-top {
    box-shadow: none;
  }

  &.show-navigation {
    box-shadow: none;
  }
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
  }
}

.main-navigation {
  position: fixed;
  top: 0;
  margin-top: rem-calc(-64);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: $globalShadow;
  z-index: 1;
  padding: calc($globalPadding * 2);

  transition: 0.3s cubic-bezier(0, 0.64, 0.6, 0.97);

  &.active {
    margin-top: 65px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: $globalGap;
    list-style: none;

    a {
      color: $darkBlue;
      font-weight: 700;
      &.active-link {
        color: red;
      }
    }
  }
}

.social-navigation-wrapper {
  position: relative;
}

.trigger-social-navigation {
  @include button-reset;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.social-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc($globalGap / 2);
  margin-right: rem-calc(30);
  opacity: 0;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  pointer-events: none;

  &.active {
    opacity: 1;
    margin-right: rem-calc(40);
    pointer-events: all;
  }
}
