@import '@/styles/modules/root';

.portfolio-card-wrapper {
  display: grid;
  grid-gap: calc($global-gap * 3);

  @include md {
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  }
}

.portfolio-card-item {
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: calc($global-radius / 2);
  box-shadow: $global-shadow;

  img {
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }

  span {
    font-weight: bold;
    font-size: rem-calc(14);
  }

  a {
    display: flex;
    background: $warning;
    color: $snow;
    padding: rem-calc(10 20);
    margin-top: rem-calc(18);
    width: fit-content;
    border-radius: 999px;
    font-weight: bold;
    font-size: rem-calc(14);
  }

  .porfolio-card-button {
    @include button-reset;
    display: flex;
    background: $dark-blue;
    color: $snow;
    padding: rem-calc(10 20);
    margin-top: rem-calc(18);
    width: fit-content;
    border-radius: 999px;
    font-weight: bold;
    font-size: rem-calc(14);
    cursor: pointer;

    &:hover {
      background: $warning;
      color: $dark-blue;
    }
  }
}

.portfolio-card-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  padding: calc($global-gap * 2);
  margin-bottom: rem-calc(-300);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: $global-shadow;
  border-radius: calc($global-radius / 2);

  &.active {
    margin-bottom: 0;
  }
}

.trigger-content {
  @include button-reset;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $danger;
  color: $snow;
  border-radius: calc($global-radius / 2) 0;
  width: rem-calc(38);
  height: rem-calc(38);
}

.portfolio-card-title {
  h2 {
    color: $dark-blue;
    font-size: em-calc(22);
    margin-bottom: rem-calc(12);
  }
}
