@import '@/styles/modules/root';

.post-card-wrapper {
  display: grid;
  grid-gap: calc($globalGap * 2);

  @include md {
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    grid-auto-rows: rem-calc(510);
  }
}

.post-card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem-calc(40);
  margin-bottom: $globalGap;
  position: relative;

  button {
    background: none;
    border: none;
    cursor: pointer;

    &:disabled {
      display: none;
    }
  }
}

.post-card-item {
  overflow: hidden;

  padding-bottom: calc($globalGap * 2);
}

.post-card-title {
  font-size: em-calc(22);
  margin-bottom: $globalGap;
  color: $darkBlue;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post-card-excerpt {
  line-height: 1.5;
  margin-bottom: $globalGap * 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include md {
    padding: $globalGap;
  }
}

.post-card-cover-image {
  width: 100%;
  border-radius: rem-calc(4);
  margin-bottom: rem-calc(24);
  height: rem-calc(240);
  object-fit: cover;

  @include md {
    margin-bottom: 0;
    height: rem-calc(200);
  }
}

.post-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.post-card-author-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $globalGap;
}

.post-card-author-name {
  font-size: em-calc(16);
  font-weight: 600;
}

.post-card-created-at {
  font-size: em-calc(13);
  text-transform: uppercase;
}

.post-card-author-picture {
  border-radius: 50%;
}

.post-card-read-more {
  display: flex;
  background: $darkBlue;
  color: $snow;
  padding: rem-calc(10 20);
  margin-top: rem-calc(18);
  width: fit-content;
  border-radius: 999px;
  font-weight: bold;
  font-size: rem-calc(14);
}
